@charset "UTF-8";

*{ 
    margin:0px;padding:0px;outline:none !important;
 }

.content{
    width:1200px;margin:0 auto;position: relative;
}

.fenye{
    margin:10px 0px;
}
.fenye a {
    display:inline-block;height:25px;padding:0px 10px;
    text-align: center;color:#fff;background:#2260B4;
    font-size:14px;line-height:25px;margin:0px 2px;
    text-decoration: none;border:none;
}
.fenye a:hover{
    background: #3783EB;
}
.fenyecurrent{
    background: #eee !important;color:#6d643c!important;cursor:default !important;
}
.izl-rmenu{position:fixed;right:0;bottom:10px;padding-bottom:73px;z-index:999;}
.izl-rmenu .btn{width:72px;height:73px;margin-bottom:1px;cursor:pointer;position:relative;}
.izl-rmenu .btn-phone{background-color:#a2abb0;background:url(/web/images/customer_service.png) 0px 0px no-repeat;}
.izl-rmenu .btn-phone:hover{background-color:#f06f52;background:url(/web/images/customer_service_two.png) 0px 0px no-repeat;}
.izl-rmenu .btn-top{background:url(../images/return_top.png) 0px 0px no-repeat;background-color:#fe9700;display:none;}
.izl-rmenu .btn-top:hover{background-color:#f06f52;background:url(/web/images/return_top_two.png) 0px 0px no-repeat;}

